* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #041e50;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
}
